

<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Bana Ulaşın</h2>
        <i class="fa-brands fa-linkedin fa-3x"></i> <a href="https://www.linkedin.com/in/burak-karaba%C5%9F/">Linkedİn</a> <i class="fab fa-github fa-3x"></i> <a href="https://github.com/karabasburak">GitHub</a>

        <br />
        <br />
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="AdSoyad" />
        <br />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />
        <br />
        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" />
        <br />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />
        <button class="btn btn-outline-danger">Mesajı Gönder</button>
    </form>
</div>
